{% extends "layout.html" %}

{% block title %}
    Book Details and Reviews
{% endblock %}

{% block main %}  
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                 <div class="alert alert-success" role="alert" style="text-align:center;">{{ messages }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<br>
<br>
<p>
    <div>
        <h2 style="text-align:center;"> Please see details about the book and reviews below </h2>
    </div>
</p>
<br>
<br>
<p>
    <div style="text-align:center;">
        {% for data in data %}
            <ul>
                <li> ISBN: {{ data[0] }} </li>
                <li> Title: {{ data[1] }} </li>
                <li> Author: {{ data[2] }} </li>
                <li> Year: {{ data[3] }} </li>
            </ul>
        {% endfor %}
    </div>
</p>
<br>
<br>
<p>
    <div style="text-align:center;">
        <form id="reviewInput" action="/submitReview" method="post">
            <div class="form-group">
                <textarea rows="6" name="review" style="width: 750px; height=150px;"> Please enter your review here. </textarea>
            </div>
            <div class="form-group">
                <select name="score">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            <div class="form-group">
                <input autocomplete="off" name="isbn" value="{{ data[0][0] }}" type="hidden">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</p>  
<br>
<p>
    <div style="text-align:center;">
        <h2 style="text-align:center;"> Reviews from Readers</h2>
        <br>
        <p>
        {% if reviews %}
            <ul>
            {% for review in reviews %}
                <li> <strong>Review By:</strong> {{ review[1]}}<li>
                <ul> <strong>Review:</strong>
                    <li>{{ review[2] }}</li>
                </ul>
                <ul> <strong>Score: </strong>
                    <li>{{ review[3] }}</li>
                </ul>
            {% endfor %}
            </ul>
        {% endif %}
        <br>
        </p>
    </div>
</p>
<br>
<p>
    <div style="text-align:center;">
        <h2 style="text-align:center;"> From Goodreads</h2>
        <br>
        <p>
        {% if goodreads %}
            <ul>
                <li> <strong>Number of Ratings:</strong> {{ goodreads[0]['ratings_count'] }}</li>
                <li><strong>Average Rating:</strong> {{ goodreads[0]['average_rating'] }}</li>
            </ul>
        {% endif %}
        </p>
    </div>
</p> 

{% endblock %}
            

