<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book Talk{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/layout.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Book Talk - Book Reviews and Discussion</h4>
      <ul class="nav nav-pills nav-stacked">
        {% if session.user_id %}
        <li class="nav-link"><a href="/">Home</a></li>
        {% endif %}
        <li><a class="nav-link" href="/register">Register</a></li>
        {% if not session.user_id %}
        <li><a hclass="nav-link" href="/login">Login</a></li>
        {% endif %}
        {% if session.user_id %}
        <li><a class="nav-link" href="logout">Logout</a></li>
        {% endif %}
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Books..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
      {% block main %}
      {% endblock %}
  </div>
</div>

<footer class="container-fluid">
</footer>

</body>
</html>