{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <br>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                 <div class="alert alert-success" role="alert"><div class="text-center">{{ messages }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <div>
    <p>
    <h2 style="text-align:center;">Please login to read and share book reviews.</h2>
    </p>
    </div>
    <br>
    <br>
    <div class="col-sm-9" style="text-align:center;">
      <form action="/login" method="post" style="display:inline-block;">
          <div class="form-group">
              <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
          </div>
          <div class="form-group">
              <input class="form-control" name="password" placeholder="Password" type="password">
          </div>
          <button class="btn btn-primary" type="submit">Log In</button>
      </form>
    </div>
{% endblock %}