{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
{% block main %}
    <br>
    <br>
    <br>
    <br>
    <p>
    <center><h2>Register here to start sharing your thoughts</h2></center>
    </p>
    <br>
    <div class="col-sm-5">
        <form id="form" action="/register" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="Password (again)" type="password">
            </div>
            <button class="btn btn-primary" id="send_form" type="submit">Register</button>
        </form>
    </div>


{% endblock %}

