{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}        

    <br>
    <br>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert"><div class="text-center">{{ messages }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <br>
    <div class="search">
    <p style="text-align:center;">
    <h2 style="text-align:center;">Please enter details of the book you would like to search for</h2>
    </p>
    <br>
    </div>
    <div style="text-align:center;">
        <form>
            <input type="radio" value="ISBN" id="ISBN" name="searchBySelector" onClick="displaySearchInput(document.getElementById('ISBN').value)">ISBN
            <br>
            <input type="radio" value="Title" id="Title" name="searchBySelector" onClick="displaySearchInput(document.getElementById('Title').value)">Title
            <br>
            <input type="radio" value="Author" id="Author" name="searchBySelector" onClick="displaySearchInput(document.getElementById('Author').value)">Author
        </form>
    </div>
    <br>
    <div class="col-sm-5">
        <form id="searchWith" action="/search" method="post">
            <div class="form-group">
                <input autocomplete="off" id="isbn" autofocus class="form-control" name="isbn" placeholder="ISBN" type="text" disabled>
            </div>
            <div class="form-group">
                <input autocomplete="off" id="title" autofocus class="form-control" name="title" placeholder="Title" type="text" disabled>
            </div>
            <div class="form-group">
                <input autocomplete="off" id="author" autofocus class="form-control" name="author" placeholder="Author" type="text" disabled>
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>

    <script type="text/javascript">
        function displaySearchInput(choice) {
            if (choice == "ISBN") {
                document.getElementById("isbn").disabled = false;
                document.getElementById("title").disabled = true;
                document.getElementById("author").disabled = true;
            }
            else if (choice == "Title") {
                document.getElementById("title").disabled = false;
                document.getElementById("isbn").disabled = true;
                document.getElementById("author").disabled = true;
            }
            else if (choice == "Author") {
                document.getElementById("author").disabled = false;
                document.getElementById("title").disabled = true;
                document.getElementById("isbn").disabled = true;
            } 
        }
    </script>

{% endblock %}