  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
  
  .row.content {
      height: 1500px
  }
  /* Set gray background color and 100% height */
  
  .sidenav {
      background-color: #f1f1f1;
      height: 100%;
  }
  /* Set black background color, white text and some padding */
  
  .instructions {
      display: flex;
      text-align: center;
      align-content: center;
      justify-content: center;
  }
  /* For middle of page, center text input boxes */
  
  .h2 {
      text-align: center;
  }
  
  .col-sm-5 {
      display: flex;
      text-align: center;
      align-content: center;
      justify-content: center;
  }
  
  footer {
      background-color: #555;
      color: white;
      padding: 15px;
  }
  /* On small screens, set height to 'auto' for sidenav and grid */
  
  @media screen and (max-width: 767px) {
      .sidenav {
          height: auto;
          padding: 15px;
      }
      .row.content {
          height: auto;
      }
  }